/* jobsList.module.css */
.listContainer {
  width: 100%;
  margin-top: 30px;
}

.head {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 148px 148px;
  align-items: center;
  text-align: center;
  height: 80px;
  font-size: 24px;
  font-weight: 500;
  color: #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #e6e8ec;
}

.headColLeft {
}
.headColCenter {
  padding-left: 28px;
}
.headColRight {
  padding-right: 39px;
}
