.container {
  margin-top: 80px;
  width: 100%;
}
.headerDiv {
  margin-bottom: 15px;
}

.headerDiv span {
  font-size: 25px;
  color: black;
}

.body {
  width: 100%;
  height: 300px;
  background-color: #eef3fc;
}
.inner {
  margin-left: 70px;
  margin-right: 70px;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* background-color: red; */
}
.topDiv {
  flex: 1.5;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  /* background-color: blue; */
}
.leftDiv {
  /* flex: 1; */
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  align-items: center;
}
.textDiv {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 28px;
}
.img {
  height: 85%;
  width: 230px;
  background-color: #d9d9d9;
  font-weight: bold;
  color: white;
  text-align: center;
  /* line-height: 160px; */
  font-size: 30px;
}

.rightDiv {
  display: flex;
  align-items: center;
}
.priceDiv {
  height: 85%;
  display: flex;
  align-items: end;
}
.priceDiv > span {
  font-size: 25px;
  font-weight: bold;
  /* position: absolute;
  bottom: 0;
  right: 0; */
}
.titleDiv span {
  font-size: 25px;
  font-weight: 600;
  /* color: white; */
  display: inline-block;
}
.mainDiv {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

.mainTag {
  background-color: #5290ff;
  border-radius: 100px;
  /* width: 80px; */
  height: 28px;
  align-items: center;
  padding: 0 10px;
  /* justify-content: space-between; */
  margin-right: 10px;
  display: flex;
}
.mainTag span {
  color: white;
  font-weight: lighter;
}
.basicDiv {
  display: flex;
  flex-direction: row;
}
.basicTag {
  background-color: #a7a7a7;
  border-radius: 100px;
  /* width: 80px; */
  height: 28px;
  align-items: center;
  padding: 0 10px;
  /* justify-content: space-between; */
  margin-right: 10px;
  display: flex;
}
.basicTag span {
  color: white;
  font-weight: lighter;
}
.addressDiv > span {
  color: #808080;
  font-weight: lighter;
}

.contentDiv {
  flex: 1;
  /* background-color: red; */
}
.progressingBarDiv {
  height: 100px;
  background-color: #ffffff;
}
