.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  width: 89%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1056px;
  height: 500px;
  flex-shrink: 0;
  background: #f5f6f8;
  padding-top: 34px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1056px;
  height: 600px;
  flex-shrink: 0;
  background: #f5f6f8;
  box-sizing: border-box;
  padding-top: 41px;
  gap: 35px;
}
.footerSubtitle {
  display: flex;
  width: 874px;
  height: 29px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px;
}

.applyBtn {
  display: block;
  width: 698px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 60px;
  border: none;
  background: #5290ff;

  text-decoration: none;
  color: white;
  text-align: center;
  line-height: 120px; /* 세로 중앙 정렬 */
  font-size: 24px;
  font-weight: bold;
}

.headerTitle {
  display: flex;
  width: 875px;
  height: 128px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 48px;
  font-weight: 500;
  line-height: 70px;
}

.headerSubtitle {
  display: flex;
  width: 875px;
  height: 29px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-weight: 400;
  line-height: 70px;
  text-align: left;
}

.infoGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px 24px;
}

.infoBox {
  width: 427px;
  height: 96px;
  flex-shrink: 0;
  background: #fff;
  display: flex;
  align-items: center;
  gap: 24px;
}

.infoIcon {
  width: 68px;
  height: 68px;
  flex-shrink: 0;
  background: #d9d9d9;
  margin-left: 20px;
}

.infoContent {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.infoLabel {
  display: flex;
  width: 103px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
}

.infoDate {
  display: flex;
  width: 157px;
  height: 33px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 32px;
  font-weight: 900;
  line-height: 40px;
}

.infoSalary {
  display: flex;
  width: 222px;
  height: 33px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #5290ff;
  font-family: "Noto Sans KR";
  font-size: 32px;
  font-weight: 900;
  line-height: 40px;
}

.infoPhone {
  display: flex;
  width: 281px;
  height: 33px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}

.infoEmail {
  display: flex;
  width: 304px;
  height: 33px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}

.line {
  width: 1000px;
  height: 1px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #d9d9d9;
  padding-top: 25px;
  padding-bottom: 28px;
}

.footerImages img {
  width: 427px;
  height: 320px;
  flex-shrink: 0;
}

.thumbcontainer {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.thumb {
  width: 427px;
  height: 320px;
  flex-shrink: 0;
  background: #d9d9d9;
}

.footerText {
  width: 875px;
  height: 71px;
  flex-shrink: 0;
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
}
