.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-contents: center;
}

.checkInOutBox {
  display: flex;
  width: 1061px;
  height: 140px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f5f6f8;
  gap: 40px;
}

.dateBox {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 71px;
  margin-top: 42px;
  margin-left: 62px;
  margin-right: 10px;
}
.dateStart {
  width: 320px;
  height: 42px;
  flex-shrink: 0;
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px;
}
.dateEnd {
  width: 320px;
  height: 42px;
  flex-shrink: 0;
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px;
}
.imgBox {
  width: 40px;
  height: 40px;
  margin-top: 42px;
  margin-left: 20px;
}
.checkDate {
  width: 67px;
  height: 42px;
  flex-shrink: 0;
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px;
  margin-top: 42px;
}

.locationBox {
  display: flex;
  gap: 68px;
  width: 1061px;
  height: 264px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f5f6f8;
  margin-top: 40px;
  margin-bottom: 40px;
}

.rightSideImg {
  width: 284px;
  height: 192px;
  flex-shrink: 0;
  background: blue;
  margin-top: 36px;
}

.leftSide {
  width: 609px;
  height: 192px;
  display: flex;
  flex-direction: column;

  margin-top: 36px;
  margin-left: 66px;
}

.locationSubtitle {
  width: 270px;
  height: 29px;
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 12px;
}
.locationTitle {
  width: 609px;
  height: 76px;
  flex-shrink: 0;
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px; /* 131.25% */
  margin-bottom: 25px;
}

.checkArea {
  display: flex;
  width: 259px;
  height: 29px;
}
.timeArea {
  width: 92px;
  height: 29px;
  color: #808080;
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.timeSet {
  width: 157px;
  height: 29px;
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.totalFeeBox {
  display: flex;
  flex-direction: column;
  width: 1061px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 10px;
  margin-bottom: 100px;
  border-radius: 10px;
  border: 1px solid #a7a7a7;
}

.Header {
  border-radius: 10px 10px 0 0;
  background: #f5f6f8;
  width: 1061px;
  height: 55px;
  flex-shrink: 0;
  display: flex;
  margin-bottom: 25px;
}

.left {
  width: 180px;
  height: 40px;
  color: #000;
  font-style: normal;
  font-family: "Noto Sans KR";
  font-size: 20px;
  margin-right: 91px;
  margin-left: 91px;
  margin-top: 8px;
}
.middle {
  width: 180px;
  height: 40px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  font-family: "Noto Sans KR";
  margin-right: 157px;
  margin-top: 8px;
}
.right {
  width: 180px;
  height: 40px;
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-style: normal;
  margin-top: 8px;
}

.rightfee {
  width: 180px;
  height: 40px;
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.footer {
  display: flex;
}

.payHeader {
  display: flex;
  gap: 17px;
  width: 1061px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 10px 10px 0 0;
  background: #bbd8ff;
}

.Subtitle {
  display: flex;
  margin-top: 11px;
  margin-bottom: 12px;
  width: 902px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  flex-shrink: 0;
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.payImg {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  display: flex;
  margin-top: 8px;
  margin-left: 17px;
  margin-bottom: 8px;
}

.paymentBox {
  position: relative;
  width: 1061px;
  display: flex;
  flex-direction: column;
  background: #eef3fc;

  padding-bottom: 20px;
  padding-top: 32px;
}

.paymentElementBox {
  width: 929px;
  height: 60px;
  display: flex;

  align-items: center;
  margin-left: 66px;
  z-index: 10;
  margin-bottom: 20px;
}

.paymentLayout {
  display: flex;
  justify-content: space-between;
  width: 929px;
  height: 60px;
  margin-left: 66px;
  z-index: 10;
}

.paymentElementHalfBox {
  width: 453px;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
}

.inputBox {
  width: 772px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.inputBoxHalf {
  width: 296px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.content {
  flex: 1;
  height: 60px;
  border: none;
  background: none;
  font-size: 16px;
  padding: 0;
  outline: none;
}

.dropdownMenu {
  position: absolute;
  top: 110px;
  left: 220px;
  width: 772px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 20;
}

.dropdownItem {
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}

.dropdownValue {
  color: #000;
  font-size: 16px;
}

.dropdownArrow {
  font-size: 16px;
  color: #888;
}

.paymentPhrase {
  width: 119px;
  height: 30px;
  display: flex;
  margin-left: 10px;
}

.inputNumBox {
  width: 140px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  padding-left: 10px;
}
.inputNumWholeBox {
  width: 772px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.inputHyphen {
  width: 51.3px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputArea {
  width: 200px;
  height: 50px;
  font-family: "Pretendard Variable", Pretendard;
  border: none;
  font-size: 16px;
}

.applyBtn {
  display: block;
  width: 367px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 60px;
  border: none;
  background: #5290ff;
  text-decoration: none;
  color: white;
  text-align: center;
  line-height: 120px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 74px;
  line-height: 80px;
  margin-top: 60px;
}

.simpleHeader {
  display: flex;
  gap: 17px;
  width: 1061px;
  height: 48px;
  flex-shrink: 0;
  background: #bbd8ff;
  margin-bottom: 32px;
}

.simplePayBox {
  width: 1061px;
  height: 232px;
  display: flex;
  flex-direction: column;
  background: #eef3fc;
  padding-bottom: 20px;
  padding-top: 30px;
  position: relative;
}

.simpleDropdownMenu {
  position: absolute;
  top: 180px;
  left: 220px;
  width: 772px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 20;
}

.infoBox {
  margin-left: 66px;
}
