.myPageContainer {
  width: 1500px;
  margin-top: 40px;
}

.profileContainer {
}
.profileHeader {
  margin-bottom: 15px;
}

.profileHeader span {
  font-size: 30px;
  font-weight: 600;
}
.profileBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.leftDiv {
  width: 73%;
  height: 400px;
  background-color: #f5f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftInner {
  width: 88%;
  height: 300px;
  background-color: red;
  position: relative;
  display: flex;
  align-items: center;
}

.editContent {
  width: 100px;
  height: 40px;
  padding: 0 15px 0 15px;
  background-color: #d9d9d9;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
}

.editContetnBox {
  width: 25px;
  height: 25px;
  background-color: #808080;
}
.imgAndContentDiv {
  background-color: green;
  height: 90%;
  width: 70%;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}
.profileImg {
  height: 100%;
  width: 200px;
  background-color: #d9d9d9;
}

.rightDiv {
  width: 25%;
  background-color: #f5f6f8;
}
