.myPageContainer {
  width: 1550px;
  margin-top: 40px;
}

.profileContainer {
}
.profileHeader {
  margin-bottom: 15px;
}

.profileHeader span {
  font-size: 30px;
  font-weight: 600;
}
.profileBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.leftDiv {
  width: 73%;
  height: 250px;
  background-color: #f5f6f8;
}
.rightDiv {
  width: 25%;
  background-color: #f5f6f8;
}
