.defaultBox {
  width: 25px;
  height: 25px;
  background-color: #808080;
}
.boxSmall {
  width: 159px;
  height: 24px;
  flex-shrink: 0;
  aspect-ratio: 159 / 50;
}

.videoContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  border: none;
}

.content {
  position: absolute;
  bottom: 150px;
  z-index: 1;
  /* text-align: center; */
}

.startButton {
  display: inline-block;
  padding: 12px 30px;
  background-color: #5290ff;
  color: #ffffff;
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
}
.startButton.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.startButton:active {
  background-color: #092f63;
  color: #808080;
}
/* .startButton:hover {
  background-color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
} */
