.container {
  margin-top: 80px;
  width: 100%;
  background-color: #f5f6f8;
  border-radius: 16px;
}
.headerDiv {
  background-color: #ebebeb;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 10px;
}
.headerTitle {
  font-size: 20px;
  margin-left: 15px;
}
.body {
  /* height: 400px; */
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 40px 70px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.itemContainer {
  background-color: #ffffff;
  height: 250px;
  border-radius: 16px;
  /* padding: 20px; */
  display: flex;
}
.itemImgDiv {
  height: 100%;
  width: 430px;
  background-color: #d9d9d9;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
}
.itemRightDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.itemTitleDiv {
  /* background-color: red;  */
  /* width: 100%; */
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  padding: 20px 20px 0 20px;
  margin-bottom: 20px;
}
.itemTitle {
  font-size: 25px;
  font-weight: 500;
}
.itemContentDiv {
  flex: 1;
  /* background-color: blue; */
  padding: 20px;
  position: relative;
}
.itemFooter {
  flex: 1;
  background-color: #e2efff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
}
.ownerDiv {
  display: flex;
  align-items: center;
}
.ownerImg {
  background-color: #d9d9d9;
  height: 35px;
  width: 35px;
  border-radius: 100%;
}
.ownerName {
  font-size: 20px;
  font-weight: 400;
  margin-left: 10px;
}
.price {
  font-size: 25px;
  font-weight: 700;
  color: #5290ff;
  text-align: end;
}
.date {
  font-size: 25px;
  font-weight: 700;
}
.btnDiv {
  background-color: #ffffff;
  width: 9 0px;
  height: 30px;
  padding: 8px 20px;
  display: flex;
  border-radius: 100px;
  align-items: center;
  justify-content: space-between;
}
.accepted {
  width: 102px;
  background-color: #5290ff;
  padding: 8px 14px;
}
.btnDiv img {
  height: 24px;
  width: 24px;
}
.btnDiv span {
  font-size: 16px;
  font-weight: 400;
  color: #092f63;
}
