.container {
  margin-top: 80px;
  width: 100%;
}
.headerDiv {
  margin-bottom: 15px;
}

.headerDiv span {
  font-size: 25px;
  color: black;
}

.body {
  width: 100%;
  height: 200px;
  display: flex;
  gap: 4%;
  /* background-color: red; */
}
.itemDiv {
  background-color: #f5f6f8;
  width: 22%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemInner {
  height: 90%;
  width: 90%;
  /* background-color: green; */
  position: relative;
}
.itemTitle > span,
.priceDiv > span {
  font-size: 25px;
  font-weight: bold;
}
.itemTitle {
  margin-bottom: 20px;
}
.priceDiv {
  position: absolute;
  bottom: 0;
  right: 0;
}
