.container {
  margin-top: 80px;
  width: 100%;
  background-color: #eef3fc;
  border-radius: 16px;
}
.headerDiv {
  background-color: #bbd8ff;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 10px;
}

.headerTitle {
  font-size: 20px;
  margin-left: 15px;
}

.body {
  /* height: 400px; */
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 40px 70px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.itemContainer {
  background-color: #ffffff;
  height: 160px;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.itemHeader {
  display: flex;
  justify-content: space-between;
  flex: 1;
  /* background-color: red; */
}
.itemTitle {
  font-size: 25px;
  font-weight: 500;
}
.itemPrice {
  font-size: 25px;
  font-weight: 700;
}
.itemContent {
  flex: 2;
  /* background-color: blue; */
}
.itemBtnDiv {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
  /* background-color: green; */
}
.itemBtn,
.confirmItemBtn {
  height: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  color: #092f63;
  font-size: 20px;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #092f63;
  background-color: #ffffff;
}
.confirmItemBtn {
  width: 270px;
  cursor: default;
}
.itemBtn {
  width: 200px;
  cursor: pointer;
}
.itemBtn img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.payedBtn {
  background-color: #5290ff;
  border: none !important;
}
.viewLink {
  color: #a7a7a7;
  font-size: 15px;
  text-decoration: none;
  align-self: flex-end;
  position: absolute;
  right: 0;
}
