.container {
  margin-top: 80px;
  width: 100%;
  background-color: #eef3fc;
  border-radius: 16px;
}
.headerDiv {
  background-color: #bbd8ff;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 10px;
}

.headerTitle {
  font-size: 20px;
  margin-left: 15px;
}

.body {
  /* height: 400px; */
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 40px 70px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.itemContainer {
  background-color: #ffffff;
  height: 160px;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.itemHeader {
  display: flex;
  justify-content: space-between;
  flex: 1;
  /* background-color: red; */
}
.itemTitle {
  font-size: 25px;
  font-weight: 500;
}
.itemPrice {
  font-size: 25px;
  font-weight: 700;
}
.itemContent {
  flex: 2;
  /* background-color: blue; */
}
.itemBtn {
  flex: 1;
  /* background-color: green; */
}
